In [46]:
# Import pandas
import pandas as pd
import numpy as np
import openpyxl

# Suppress warnings
import warnings
warnings.filterwarnings('ignore')

In [47]:
# Load the datasets
clima = pd.read_csv("Climatological disasters.csv")
geo = pd.read_csv("Geophysical_disasters.csv")
hydro = pd.read_csv("Hydrological disasters.csv")
met = pd.read_csv("Meteorological_disasters.csv")

In [48]:
# Check their number of columns
print(f'Climatological number of columns: {clima.shape[1]}')
print(f'Geophysical number of columns: {geo.shape[1]}')
print(f'Hydrological number of columns: {hydro.shape[1]}')
print(f'Metereological number of columns: {met.shape[1]}')

Climatological number of columns: 12
Geophysical number of columns: 12
Hydrological number of columns: 12
Metereological number of columns: 15

In [49]:
# Check met extra columns
met.columns

Index(['CountryID', 'Countries or areas', 'Occurrence 1990-1999',
       'Occurrence 2000-2009', 'Occurrence 2010-2019',
       'Total deaths 1990-1999', 'Total deaths 2000-2009',
       'Total deaths 2010-2019', 'Persons affected 1990-1999',
       'Persons affected 2000-2009', 'Persons affected 2010-2019',
       'European Region', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14'],
      dtype='object')

In [50]:
# Drop met extra columns
met.drop(['Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14'], axis=1, inplace=True)

In [51]:
# Add an extra column to every dataset with their correspondig disaster
clima['Natural Disaster'] = 'Climatological'
geo['Natural Disaster'] = 'Geophysical'
hydro['Natural Disaster'] = 'Hydrological'
met['Natural Disaster'] = 'Meteorological'

In [52]:
# Check clima columns
clima.columns

Index(['CountryID', 'Countries or areas', 'Occurrence 1990-1999',
       'Occurrence 2000-2009', 'Occurrence 2010-2019',
       'Total deaths 1990-1999', 'Total deaths 2000-2009',
       'Total deaths 2010-2019', 'Persons affected 1990-1999',
       'Persons affected 2000-2009', 'Persons affected 2010-2019',
       'European Region', 'Natural Disaster'],
      dtype='object')

In [53]:
# Check geo columns
geo.columns

Index(['CountryID', 'Countries or areas', 'Occurrence 1990-1999',
       'Occurrence 2000-2009', 'Occurrence 2010-2019',
       'Total deaths 1990-1999', 'Total deaths 2000-2009',
       'Total deaths 2010-2019', 'Persons affected 1990-1999',
       'Persons affected 2000-2009', 'Persons affected 2010-2019',
       'European Region', 'Natural Disaster'],
      dtype='object')

In [54]:
# Check hydro columns
hydro.columns

Index(['CountryID', 'Countries or areas', 'Occurrence 1990-1999',
       'Occurrence 2000-2009', 'Occurrence 2010-2019',
       'Total deaths 1990-1999', 'Total deaths 2000-2009',
       'Total deaths 2010-2019', 'Persons affected 1990-1999',
       'Persons affected 2000-2009', 'Persons affected 2010-2019',
       'European Region', 'Natural Disaster'],
      dtype='object')

In [55]:
# Check met columns
met.columns

Index(['CountryID', 'Countries or areas', 'Occurrence 1990-1999',
       'Occurrence 2000-2009', 'Occurrence 2010-2019',
       'Total deaths 1990-1999', 'Total deaths 2000-2009',
       'Total deaths 2010-2019', 'Persons affected 1990-1999',
       'Persons affected 2000-2009', 'Persons affected 2010-2019',
       'European Region', 'Natural Disaster'],
      dtype='object')

In [56]:
# Concatenate all datasets and reset the index
df = pd.concat([clima, geo, hydro, met], ignore_index=True)

df

,CountryID,Countries or areas,Occurrence 1990-1999,Occurrence 2000-2009,Occurrence 2010-2019,Total deaths 1990-1999,Total deaths 2000-2009,Total deaths 2010-2019,Persons affected 1990-1999,Persons affected 2000-2009,Persons affected 2010-2019,European Region,Natural Disaster
0,4.0,Afghanistan,3,3,2,0,37,0,48000,4760000,12350000,NaN,Climatological
1,8.0,Albania,1,1,...,0,0,...,3200000,75,...,NaN,Climatological
2,12.0,Algeria,2,1,...,22,8,...,0,0,...,NaN,Climatological
3,24.0,Angola,4,2,2,0,58,0,2585000,25000,3253900,NaN,Climatological
4,660.0,Anguilla,1,...,...,0,...,...,0,...,...,NaN,Climatological
...,...,...,...,...,...,...,...,...,...,...,...,...,...
673,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Meteorological
674,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Meteorological
675,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Meteorological
676,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Meteorological
677,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Meteorological

In [57]:
# Filter for only EU countries
df = df[df['European Region'].notnull()]

df

,CountryID,Countries or areas,Occurrence 1990-1999,Occurrence 2000-2009,Occurrence 2010-2019,Total deaths 1990-1999,Total deaths 2000-2009,Total deaths 2010-2019,Persons affected 1990-1999,Persons affected 2000-2009,Persons affected 2010-2019,European Region,Natural Disaster
12,56.0,Belgium,1,...,...,0,...,...,0,...,...,Western Europe,Climatological
20,100.0,Bulgaria,1,5,...,0,10,...,0,176,...,Eastern Europe,Climatological
37,191.0,Croatia,1,5,1,0,13,0,0,26,80,Southern Europe,Climatological
39,196.0,Cyprus,1,2,...,0,0,...,0,0,...,Southern Europe,Climatological
42,208.0,Denmark,1,...,...,0,...,...,0,...,...,Northern Europe,Climatological
...,...,...,...,...,...,...,...,...,...,...,...,...,...
612,642.0,Romania,8,17,5,111,311,162,7566,3610,7676,Eastern Europe,Meteorological
628,703.0,Slovakia,...,4,4,...,3,128,...,10413,0,Eastern Europe,Meteorological
629,705.0,Slovenia,...,3,1,...,295,1,...,1050,50000,Southern Europe,Meteorological
633,724.0,Spain,8,9,9,78,15185,27,420,2,320,Southern Europe,Meteorological
637,752.0,Sweden,3,3,1,3,8,7,0,0,0,Northern Europe,Meteorological

In [58]:
# Fill '...' with 0
df.replace('...', 0, inplace=True)

df

,CountryID,Countries or areas,Occurrence 1990-1999,Occurrence 2000-2009,Occurrence 2010-2019,Total deaths 1990-1999,Total deaths 2000-2009,Total deaths 2010-2019,Persons affected 1990-1999,Persons affected 2000-2009,Persons affected 2010-2019,European Region,Natural Disaster
12,56.0,Belgium,1,0,0,0,0,0,0,0,0,Western Europe,Climatological
20,100.0,Bulgaria,1,5,0,0,10,0,0,176,0,Eastern Europe,Climatological
37,191.0,Croatia,1,5,1,0,13,0,0,26,80,Southern Europe,Climatological
39,196.0,Cyprus,1,2,0,0,0,0,0,0,0,Southern Europe,Climatological
42,208.0,Denmark,1,0,0,0,0,0,0,0,0,Northern Europe,Climatological
...,...,...,...,...,...,...,...,...,...,...,...,...,...
612,642.0,Romania,8,17,5,111,311,162,7566,3610,7676,Eastern Europe,Meteorological
628,703.0,Slovakia,0,4,4,0,3,128,0,10413,0,Eastern Europe,Meteorological
629,705.0,Slovenia,0,3,1,0,295,1,0,1050,50000,Southern Europe,Meteorological
633,724.0,Spain,8,9,9,78,15185,27,420,2,320,Southern Europe,Meteorological
637,752.0,Sweden,3,3,1,3,8,7,0,0,0,Northern Europe,Meteorological

In [59]:
# Check the datatypes
df.dtypes

CountryID                     float64
Countries or areas             object
Occurrence 1990-1999           object
Occurrence 2000-2009           object
Occurrence 2010-2019           object
Total deaths 1990-1999         object
Total deaths 2000-2009         object
Total deaths 2010-2019         object
Persons affected 1990-1999     object
Persons affected 2000-2009     object
Persons affected 2010-2019     object
European Region                object
Natural Disaster               object
dtype: object

In [60]:
# Convert every supposedly numerical variable to integer type
# List of columns to exclude from the conversion
exclude_columns = ['Countries or areas', 'European Region', 'Natural Disaster']

# Select columns which are not in the exclusion list and are of type 'object'
columns_to_convert = [col for col in df.columns if col not in exclude_columns and df[col].dtype == 'object']

# Convert the selected columns to numeric first (to handle any non-numeric entries)
# and then to integer 
for col in columns_to_convert:
    df[col] = pd.to_numeric(df[col], errors='coerce')  # This will convert non-numeric to NaN
    df[col] = df[col].fillna(0).astype(int)            # This fills NaN with 0 and converts to int

In [61]:
# Reconfirm the datatypes
df.dtypes

CountryID                     float64
Countries or areas             object
Occurrence 1990-1999            int32
Occurrence 2000-2009            int32
Occurrence 2010-2019            int32
Total deaths 1990-1999          int32
Total deaths 2000-2009          int32
Total deaths 2010-2019          int32
Persons affected 1990-1999      int32
Persons affected 2000-2009      int32
Persons affected 2010-2019      int32
European Region                object
Natural Disaster               object
dtype: object

In [62]:
# Create 3 new columns: 'Total Occurences', 'Total Deaths', and 'Total Number of Persons Affected' for all unique pair of Country:Natural Disaster
df['Total Occurences 1990-2019'] = df['Occurrence 1990-1999'] + df['Occurrence 2000-2009'] + df['Occurrence 2010-2019']

df['Total Deaths 1990-2019'] = df['Total deaths 1990-1999'] + df['Total deaths 2000-2009'] + df['Total deaths 2010-2019']

df['Total Number of Persons Affected 1990-2019'] = df['Persons affected 1990-1999'] + df['Persons affected 2000-2009'] + df['Persons affected 2010-2019']

df

,CountryID,Countries or areas,Occurrence 1990-1999,Occurrence 2000-2009,Occurrence 2010-2019,Total deaths 1990-1999,Total deaths 2000-2009,Total deaths 2010-2019,Persons affected 1990-1999,Persons affected 2000-2009,Persons affected 2010-2019,European Region,Natural Disaster,Total Occurences 1990-2019,Total Deaths 1990-2019,Total Number of Persons Affected 1990-2019
12,56.0,Belgium,1,0,0,0,0,0,0,0,0,Western Europe,Climatological,1,0,0
20,100.0,Bulgaria,1,5,0,0,10,0,0,176,0,Eastern Europe,Climatological,6,10,176
37,191.0,Croatia,1,5,1,0,13,0,0,26,80,Southern Europe,Climatological,7,13,106
39,196.0,Cyprus,1,2,0,0,0,0,0,0,0,Southern Europe,Climatological,3,0,0
42,208.0,Denmark,1,0,0,0,0,0,0,0,0,Northern Europe,Climatological,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
612,642.0,Romania,8,17,5,111,311,162,7566,3610,7676,Eastern Europe,Meteorological,30,584,18852
628,703.0,Slovakia,0,4,4,0,3,128,0,10413,0,Eastern Europe,Meteorological,8,131,10413
629,705.0,Slovenia,0,3,1,0,295,1,0,1050,50000,Southern Europe,Meteorological,4,296,51050
633,724.0,Spain,8,9,9,78,15185,27,420,2,320,Southern Europe,Meteorological,26,15290,742
637,752.0,Sweden,3,3,1,3,8,7,0,0,0,Northern Europe,Meteorological,7,18,0

In [63]:
# Drop unnecessary columns
df = df[['Countries or areas', 'European Region', 'Natural Disaster', 'Total Occurences 1990-2019', 'Total Deaths 1990-2019', 'Total Number of Persons Affected 1990-2019']]
df

,Countries or areas,European Region,Natural Disaster,Total Occurences 1990-2019,Total Deaths 1990-2019,Total Number of Persons Affected 1990-2019
12,Belgium,Western Europe,Climatological,1,0,0
20,Bulgaria,Eastern Europe,Climatological,6,10,176
37,Croatia,Southern Europe,Climatological,7,13,106
39,Cyprus,Southern Europe,Climatological,3,0,0
42,Denmark,Northern Europe,Climatological,1,0,0
...,...,...,...,...,...,...
612,Romania,Eastern Europe,Meteorological,30,584,18852
628,Slovakia,Eastern Europe,Meteorological,8,131,10413
629,Slovenia,Southern Europe,Meteorological,4,296,51050
633,Spain,Southern Europe,Meteorological,26,15290,742
637,Sweden,Northern Europe,Meteorological,7,18,0

In [64]:
# Export the dataframe to an Excel file
df.to_excel('all_new.xlsx', index=False)